@tailwind base;
@import './base.css';

@tailwind components;

@tailwind utilities;

/* .caret {
  position: absolute;
  width: 8px;
  height: 80%;
  background-color: white;
  left: 1px;
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;

  // Removes blinker, in a hacky way, but whatever.

  color: transparent;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
} */

#setter {
  left: -1000px;
  position: absolute;
}
.cursor {
  font-size: 12px;
  background-color: blue;
  color: blue;
  position: relative;
  opacity: 0.5;
  height: 1.5em;
  width: 3px;
  max-width: 3px;
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
#terminal {
  margin: 8px;
  cursor: text;
  height: 500px;
  overflow: auto;
}
#writer {
  font-family: cursor, courier;
  font-weight: bold;
}
#getter {
  margin: 5px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
